
.bg-text {
  align: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/ slight opacity see-through */
  color: white;
  font-weight: bold;
  font-size: 22px;
  border: 5px solid #f1f1f1; 
  position: fixed;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 5px; 
}


.body {
	background: url (https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYRUMxbRKVVyHtCMvJocmlAgGYbxDDif0rPw&usqp=CAU);
}




.unstyled a {
  text-decoration: none;
}

.list-inline {
  overflow: hidden;
}
.list-inline li {
  float: left;
}


.logo {
  font: 100 1em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* The logo (top of sidebar*/

.logo a {
  display: block;
  padding: 1em 0;
  color: #03A062;
  text-decoration: none;
  transition: .75s linear color;
}


/* The sidebar */

.main-nav ul {
  border-top: solid 1px #3C3735;
}
.main-nav li {
  border-bottom: solid 1px #3C3735;
}
.main-nav a {
  padding: 1.1em 0;
  color: #03A062;
  font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
}
.main-nav a:hover {
  color: #03A062;
}


.list-hover-slide li {
  position: relative;
  overflow: hidden; 
}
.list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: .75s ease color;
}
.list-hover-slide a:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px #03A062;
  background: #3C3735;
  transition: .75s ease left;
}
.list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
  left: 0;
} 
.testing-text{
	text-align: center;
	color: #fff;
}
